.catalog_wraper {
    margin-top: 40px;
    display: flex;
    width: 1314px;
    flex-direction: row;
    justify-content:space-between;
    
}

.filter_containet{
width: 360px;
margin-right: 64px;
}
.catalog_containet{
width: 888px;
}