.wrraper{
    display: flex;
    margin-top: 68px;
    justify-content: space-between;
}
.elements_container {
    
    width: 430px;
}


.feature_item{
    margin-bottom: 44px;
}
.features_titel{
    margin-bottom: 48px;
    position: relative;
}
.features_titel::after {
    top: 48px;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(22, 22, 22, 0.1);
}


.features_info{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.features_info_item{
    display: flex;
    justify-content: space-between;
}

.info_subtitel {
font-weight: 500;
font-size: 18px;
line-height: 133%;
color :#101828;
}