.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 173px;
  white-space: nowrap;
  border-radius: 200px;
  padding: 16px 60px;
  text-align: center;
  background-color: #e44848;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #fff;

  transition: background-color 250ms ease-in 0s;
}
.btn:focus,
.btn:hover {
  background-color: #d84343;
}
.btn_Load {
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  border: 1px solid rgba(71, 84, 103, 0.2);;
   color: #101828;


  transition: border 250ms ease-in 0s;
}
.btn_Load:focus,
.btn_Load:hover {
  border: 1px solid #e44848;
}